
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #dad7d7;
}


#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header img {
    width: 200px;
    margin-left: -85px;
    
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.552);
    height: 20px;
}

h1 {
    margin-bottom: 20px;
}


.meny {
    flex: 1;
    text-align: right;
   
}

.meny ul li {
    list-style: none;
    margin: 30px;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.meny ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    
}
.meny ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.meny ul li:hover::after {
    width: 100%;
}




#overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

#overlay h1 {
    font-size: 150px;
    color: #ffffffb1;
    font-family: cursive;
   
  
}


.button {
    border: none;
    color:#000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 400px;
    
  }

 
    


   h2{
    text-align: center;
    font-size: 70px;
    padding-top: 10px;
    color: #222020;
    font-family: cursive;
   }

   

 .text-container {
  font-size: 20px;
  text-align: center;
 }
 

   
  

  h3{
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.663);
    font-family:cursive;
   
  }

  #pic-container {
    display: flex;
    justify-content: center;
  }
  
  #pic-container img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 30px;
  }


  #pic-container img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  

  #pic-container img {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }


  #image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    text-align: center;
    margin-top: 5px;
  }
  
  

  

  #image-container img {
    object-fit: cover;
    width: 100%; /* för att visa tre bilder på varje rad */
    height: 300px; /* för att ge alla bilderna samma höjd */
  
  }

 
  .image-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .image-btn {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #eeeeeef2;
    color: #000;
    border: none;
  
   
    
    
  }
  
  .image-btn:hover {
    background-color: #ffffffad;
    cursor: pointer;
  }
  

  #scrollToTopButton {
    width: 70px;
    cursor: pointer;
  }

  .select img {
    width: 100%; /* adjust this value to your liking */
    height: auto; /* this will maintain the image's aspect ratio */
    object-fit: cover;
  }

  #attractionSelect {
    border: none;
    color:#000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 400px;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  #scrollToTopButton {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
  }


  .select {
    position: relative;
  }
  
  #attractionSelect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }